@import "../../global.scss";

.work {
  background-color: #45a29e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: hidden;


  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    // @include mobile{
    //   height: 100vh;
    //   flex-direction: column;
    //   justify-content: center;
    // }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: aliceblue;
        border-radius: 20px;
        box-shadow: 5px 1px 15px -8px black;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile{
         width: 80%;
         height: 160px;
         margin: 10px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile{
              margin: 15px 0;
             
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(145, 236, 206);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile{
               width: 20px;
               height: 20px;
              }

              img {
                width: 25px;
              }
            }

            h2 {
              font-size: 20px;

              @include mobile{
                font-size: 12px;
              }
            }

            p {
              font-size: 15px;

              @include mobile{
                font-size: 10px;
              }
            }

            span {
              font-size: 14px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;

              @include mobile{
                font-size: 10px;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          
          }
        }
      }
    }
  }

  .arrow{
    height: 50px;
    position: absolute;

    @include mobile{
      display: none;
    }

    &.left{
      left: 80px;
      transform: rotateY(180deg);
      cursor: pointer;
    }

    &.right{
      right: 80px;
      cursor: pointer;

    }

  } 

}
